<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div>
        <h2>Register</h2>
        <div style="display: flex; gap: 20px; margin-bottom: 50px;">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/api/v1/auth/logout">Logout</a>

            <a href="/api/v1/user/profile">Profile</a>
        </div>
    </div>

    <form action="/api/v1/auth/register" method="post">
        <input type="text" name="username" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
</body>

</html>